fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
pandas==2.3.2
python-dotenv==1.0.1
requests==2.32.3
smartapi-python==1.5.5
pyotp==2.9.0
logzero==1.7.0
websocket-client==1.8.0
pycryptodome==3.23.0
numpy==2.1.1
scipy==1.14.1
